image: node:latest

cache:
  key:
    files:
      - package-lock.json
  paths:
    - node_modules/
    - .npm/

stages:
  - validate
  - test
  - build
  - release
  - deploy

install:
  stage: .pre
  rules:
    - if: '$CI_COMMIT_TAG != null || $CI_COMMIT_TITLE =~ /^chore: release/'
      when: never
    - when: on_success
  script:
    - npm ci --cache .npm --prefer-offline


lint:
  stage: validate
  rules:
    - if: '$CI_COMMIT_TAG != null || $CI_COMMIT_TITLE =~ /^chore: release/'
      when: never
    - when: on_success
  script:
    - npm run lint
    

unit-test:
  stage: test
  rules:
    - if: '$CI_COMMIT_TAG != null || $CI_COMMIT_TITLE =~ /^chore: release/'
      when: never
    - when: on_success
  script:
    - npm test

release:
  stage: release
  when: manual
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"
        && $CI_COMMIT_TAG == null
        && $CI_COMMIT_TITLE !~ /^chore: release/'
  before_script:
    - git config user.email $GITLAB_USER_EMAIL
    - git config user.name $GITLAB_USER_NAME
    - git remote set-url origin "https://gitlab-ci-token:$GITLAB_TOKEN@$CI_SERVER_HOST/$CI_PROJECT_PATH.git"
    - git checkout $CI_COMMIT_BRANCH
    - git pull origin $CI_COMMIT_BRANCH --rebase
  script:
    - npx --yes release-it --ci


